.header {
  color: $theme-white;
  // 50% 透明度（與側欄底色疊出層次）
  background: transparentize($theme-carmine, 0.5);

  input {
    border-radius: 50px;
    border: 1px solid darken($theme-carmine, 5%);
    font-size: 80%;
  }
}
